.mainBoard {
  display: flex;
  background: #20212c;
  position: relative;
  overflow: auto;
  min-width: 100%;
  min-height: 100%;
}

.mainBoard::-webkit-scrollbar {
  display: none;
}

.sideBar {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  color: #828fa3;
  background: #07375e;
  font-weight: 700;
  min-width: 18rem;
  height: 90vh;
  left: 0;
  z-index: 1;
  padding: 2rem 0;
  border-right: 1px solid #3e3f4e;
}

.sideBar_top_title {
  letter-spacing: 2.4px;
  font-size: 0.75rem;
  padding-left: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.sideBar_top_features {
  display: flex;
  align-items: center;
  padding: 8px 25px;
  width: 17rem;
  height: 2.5rem;
  margin: 5px;
  background-color: transparent;
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  opacity: 0.6;
  border: none;
  gap: 15px;
  text-align: left;
  cursor: pointer;
}

.sideBar_top_features:hover {
  background-color: #e7eff1;
  opacity: 1;
}

.fa-solid {
  font-weight: 700;
  margin-right: 8px;
}

.createBtn {
  color: #635fc7;
}

.logout {
  color: #fff;
  background-color: red;
  justify-content: center;
}

.sideBar_top_features:hover {
  background-color: #e2e1e8;
  opacity: 1;
  color: #131515;
}

.sideBar__theme {
  display: flex;
  background-color: #20212c;
  justify-content: center;
  align-items: center;
  width: 14rem;
  height: 48px;
  margin-left: 1.5rem;
  border-radius: 6px;
}

.sideBar__theme_toggle {
  display: flex;
  margin: 0 25px;
  align-items: center;
  width: 40px;
  height: 20px;
  background-color: #635fc7;
  border-radius: 12px;
  position: relative;
  border: none;
  padding: 2px;
}

.sideBar__theme_toggle_ball {
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 25px;
}

.taskBoard {
  display: flex;
  background: #20212c;
  position: absolute;
  left: 18rem;
  padding: 2rem;
  color: #fff;
  width: calc(100%-18rem);
  min-height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  width: 17.5rem;
  height: 100%;
  color: #fff;
}

.column_header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #828fa3;
}

.column_header_dot {
  display: flex;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 12px;
  background-color: #fff;
}

.card_container {
  display: flex;
  text-align: left;
  flex-direction: column;
  width: 100%;
  min-height: 5rem;
  background-color: #2b2c37;
  padding: 1.5rem;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #69788f;
  cursor: pointer;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.card_title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 8px;
  color: rgb(217, 212, 212);
}

.card_subtitle {
  color: #828fa3;
}

.no_task {
  color: #828fa3;
}

@media (max-width: 767px) {
  .taskBoard {
    left: 1rem;
  }
  .sideBar_top_features {
    width: 100%;
    margin: 0;
  }
  .MobileNav_body {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .MobileNav_body_top {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

  .MobileNav_body_top_cont {
    width: 100%;
  }
  .mobileNav__bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.mobileNav {
  display: none;
}
